/*------------------------
STYLES/LAYOUT
-------------------------*

/* ------ GLOBAL TAGS/STYLES ------ */

html {
    /*border: 4px solid yellow;*/
    height: 100%;
}

body {
    /*border: 4px solid green;*/
    height: 100%;
    font-family: 'Lato', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
}
a,
a:hover {
  text-decoration: none;
}

/* ------ NAVBAR------ */
.navigation {
    /*border: 4px solid red;*/
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    /*border-bottom: 4px solid white;*/
}

.nav-name{
    /*border: 4px solid orange;*/
    text-align: center;
    padding: 10px 0px 10px 0px;
    background-color: #292929;
    color: #fff;
}

.name {
    font-family: 'Arvo', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}

.nav-social{
    /*border: 4px solid green;*/
    display: flex;
    display: -webkit-flex;

}

.nav-social a{
    /*border: 4px solid blue;*/
    flex-grow: 1;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0 5px 0;
    font-size: 1.2em;
    color: white;
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
}

.nav-social a:hover{
    background-color: white;
}

.email {background-color: #4fc3f7;}
.email:hover {color: #4fc3f7;}

.github {background-color: #03a9f4;}
.github:hover {color: #03a9f4;}

.linkedin {background-color: #0288d1;}
.linkedin:hover {color: #0288d1;}

.twitter{background-color: #01579B;}
.twitter:hover{color: #01579B;}

.medium{background-color: #043f6e;}
.medium:hover {color: #043f6e;}

@media screen and (min-width: 500px) {
    .name {
        font-size: 2.4em;
    }
}

@media screen and (min-width: 768px) {
    .navigation {
        flex-direction: row;
    }

    .nav-name,
    .nav-social {
        width: 50%;
    }

    .name {
        font-size: 2em;
    }
}

@media screen and (min-width: 848px){
    .name {
        font-size: 2.4em;
    }
}

/* ------ MAIN------ */
.container-main {
    /*border: 4px solid yellow;*/
}

.section {
    /*border: 4px solid red;*/
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cell {
    /*border: 4px solid orange;*/
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .section {
        flex-direction: row;
    }
}

/* ------ TAG------ */

.tag {
    background-image: url('../img/googlemaps_IC.png');
    background-size: cover;
    background-position: center;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
}

.filter-tag {
    /*border: 4px solid blue;*/
    position: absolute;
    background: rgba(0, 0, 0, .8);
    z-index: 0;
    width: 100%;
    height: 100%;
}

.tagline {
    /*border: 4px solid red;*/
    font-family: 'Arvo', sans-serif;
    font-size: 4em;
    color: white;
    z-index: 1;
    padding: 0 20px;
    margin-bottom: 20px;
}

.tagline-small {
    /*border: 4px solid purple;*/
    font-size: 2em;
    color: #0288d1;
    z-index: 1;
}

.down {
    position: absolute;
    bottom: 30px;
    color: white;
    z-index: 1;
}

@media screen and (max-width: 400px) {
    .tagline {
        font-size: 3em;
    }

    .tagline-small {
        font-size: 1.5em;
    }
}

/* ------ ABOUT ------ */

.about {
    height: 500px;
}

.about-me {
    background: #039be5;
    color: white;
    /*padding: 30px 40px;*/
}

.about-inner {
    /*border: 4px solid red;*/
    height: 80%;
    width: 80%;
    text-align: left;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
}

.about-line {
    font-family: 'Arvo', sans-serif;
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 20px;
}

.about-paragraph {
    font-size: 1.2em;
}

.pic {
    display: none;
    display: -webkit-flex;
    background: #0288d1;
}

.pic img {
    width: 50%;
    border-radius: 100%;
}

@media screen and (min-width: 768px) {
    .pic {
        display: flex;
        display: -webkit-flex;
    }
}

@media screen and (max-width: 500px) {
    .about-paragraph {
        font-size: 1em;
    }
}

/* ------ SKILLS------ */

.skills {
    /*border: 4px solid orange;*/
    background-image: url('../img/mapbox_asheville.png');
    background-size: cover;
}

.filter-skills {
    /*border: 4px solid blue;*/
    position: absolute;
    background: rgba(0, 0, 0, .8);
    z-index: 0;
    width: 100%;
    height: 100%;
}

.have {
    /*border: 4px solid purple;*/
    height: 500px;
    z-index: 1;
    flex-direction: column;
}

.want {
    /*border: 4px solid purple;*/
    height: 500px;
    z-index: 1;
    flex-direction: column;
}

.skill-title {
    height: 30%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    color: #03a9f4;
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Arvo', sans-serif;
}

.skill-grid {
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    height: 70%;
    color: white;
    padding: 0 30px 0px 30px;
}

.icon-grid {
    /*border: 4px solid pink;*/
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    margin-right: 20px;
}

.label {
    /*border: 4px solid purple;*/
    font-size: .8em;
    margin-bottom: 5px;
}

.skill-icon {
    /*border: 4px solid blue;*/
    font-size: 4em;
}



@media screen and (min-width: 768px) {
    .skills {
        height: 500px;
    }
}

/* ------ PORTFOLIO------ */
.portfolio {
    /*border: 4px solid green;*/
    flex-direction: column;
}

.project {
    /*border: 4px solid yellow;*/
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.project-content-box {
    /*border: 4px solid green;*/
    width: 80%;
    height: 80%;
}

.summary,
.preview {
    /*border: 4px solid blue;*/
    height: 450px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview {
    display: none;
    flex-direction: row;
    align-items: center;
}

.one-light {background: #b3e5fc;}
.one-dark {background: #81d4fa;}
.two-light {background: #4fc3f7;}
.two-dark {background: #29b6f6;}
.three-light {background: #03a9f4;}
.three-dark {background: #039be5;}
.four-light {background: #0288d1;}
.four-dark {background: #0277bd;}

.content-box {
    /*border: 4px solid purple;*/
    width: 90%;
    /*display: flex;
    flex-direction: column;
    justify-content: flex-start;*/
}

.summary-title {
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
    font-family: 'Arvo', sans-serif;
    display: flex;
    display: -webkit-flex;
}

.summary-text {
    color: #292929;
    text-align: left;
    margin-bottom: 20px;
}

.summary-techs {
    margin-bottom: 20px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.tech {
    background: #454545;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.summary-buttons {
    border: 2px solid white;
    border-radius: 1px;
    float: left;
}

.summary-buttons a {
    /*border: 4px solid orange;*/
    font-size: 1.5em;
    padding: 5px 10px;
}

.repo {
    color: white;
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
}

.repo:before {
    background: white;
}

.demo {
    background: white;
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
}

.demo-one {color: #b3e5fc;}
.demo-two {color: #4fc3f7;}
.demo-three {color: #03a9f4;}
.demo-four {color: #0288d1;}

.demo-one:before {background: #b3e5fc;}
.demo-two:before {background: #4fc3f7;}
.demo-three:before {background: #03a9f4;}
.demo-four:before {background: #0288d1;}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  /*background: #2098D1;*/
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.airnav {
    width: 30%;
}

.nerdreview {
    width: 90%;
    -webkit-filter: grayscale(100%); /* Safari */
    filter: grayscale(100%);
}

.tripgoalie {
    width: 90%;
}

.tictactoe {
    width: 50%;
    -webkit-filter: grayscale(100%); /* Safari */
    filter: grayscale(100%);
}


@media screen and (min-width: 768px) {
    .project {
        flex-direction: row;
    }

    .preview {
        display: flex;
        display: -webkit-flex;
    }

    .summary,
    .preview {
        height: 400px;
    }

    .mobile-image {
        display: none;
    }

    .airnav {
        width: 60%;
    }

    .nerdreview {
        width: 80%;
        -webkit-filter: grayscale(100%); /* Safari */
        filter: grayscale(100%);
    }

    .tripgoalie {
        width: 80%;
    }

    .tictactoe {
        width: 40%;
        -webkit-filter: grayscale(100%); /* Safari */
        filter: grayscale(100%);
    }
}


/* ------ CONTACT------ */

.contact {
    height: 300px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/googlemaps_GT.png');
    background-size: cover;
    background-position: center;

}

.filter-contact {
    /*border: 4px solid blue;*/
    position: absolute;
    background: rgba(0, 0, 0, .8);
    z-index: 0;
    width: 100%;
    height: 100%;
}

.workwithme {
    margin-bottom: 30px;
    font-family: 'Arvo', sans-serif;
    color: white;
    z-index: 1;
    font-size: 2em;
}

.workwithme-sub {
    margin-bottom: 30px;
    color: white;
    z-index: 1;
    font-size: 1.3em;
}

.contact-buttons {
    display: flex;
    display: -webkit-flex;
}

.resume {
    margin-right: 30px;
}

.talk,
.resume {
    z-index: 1;
    text-transform: uppercase;
    font-size: 1.5em;
    border: 2px solid white;
    padding: 10px 20px;
    color: white;
    border-radius: 1px;
    /*font-family: 'Arvo', sans-serif;*/
}

.blue {
    color: #03a9f4;
}

@media screen and (max-width: 500px){
    .workwithme {
        font-size: 1.5em;
    }

    .workwithme-sub {
        font-size: 1.1em;
    }

    .contact-buttons {
        font-size: .8em;
    }
}

@media screen and (max-width: 350px){
    .workwithme {
        font-size: 1.2em;
    }

    .workwithme-sub {
        font-size: .9em;
    }

    .contact-buttons {
        font-size: .6em;
    }
}


/* ------ CREDIT------ */

.credit {
    height: 80px;
    background: #01579B;
    color: white;
}

@media screen and (max-width: 350px){
    .credit {
        font-size: .9em;
    }
}
